/* Réinitialisation des styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow-x: auto;
    white-space: nowrap;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

.site-description {
    margin: 10px 0;
    font-size: 18px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.cart-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.cart-icon img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.cart-counter {
    background-color: #ff6600;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
}

section {
    margin-bottom: 50px;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.product {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.product img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.05);
}

.product h5 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
}

.product p.price {
    text-align: center;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
    font-size: 16px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}
