body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.site-description {
    margin: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.cart-icon {
    position: relative;
}

.cart-icon img {
    width: 40px;
    height: auto;
    vertical-align: middle;
}

.cart-counter {
    background-color: #ff6600;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
}

section {
    margin-bottom: 50px;
}

h2 {
    color: #333;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.product h5 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}
.product p.price {
    text-align: center;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}
.product button.btn {
    display: block;
    margin: auto;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.product button.btn:hover {
    background-color: #2980b9;
}